.container-movies{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .container-anglobe{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color-2;
        margin-top: 10px;
        width: 250px;
        border-radius: 10px;
        height: 30px;
        color: $color-4;
    }
    .top{
        cursor: pointer;
    }
    .flop{
        cursor: pointer;
    }
    .top:hover{
        background-color: $color-1;
        cursor: pointer;
    }
    .flop:hover{
        background-color: $color-1;
        cursor: pointer;
    }
}
.lastmovie{
    display: flex;
    margin-bottom: 20px;
    h1{
        color: $color-4;
        margin: auto;
    }
}
.cardmovie{
    max-width: 100%;     

    .container-crd{
        ul{
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%; 
            display: flex;
        }
    }
}