.container-movies{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .container-anglobe{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color-2;
        margin-top: 10px;
        width: 250px;
        border-radius: 10px;
        height: 30px;
        color: $color-4;
    }
    .top{
        cursor: pointer;
    }
    .flop{
        cursor: pointer;
    }
}
.cardmovie{
    width: 100%;
    display: flex;
    flex-direction: row;
}