.btn-vider{
    margin-top: 50px;
    margin-left: 35px;
    button{
        padding: 8px;
        border-radius: 10px;
        color: $color-4;
        background-color: $color-2;
        cursor: pointer;
    }
}